<app-header></app-header>
<main>
    <router-outlet></router-outlet>
    <!-- <div class="container-c">
        <div class="wrapper">
            <div class="col-lg-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-9 pl-11">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div> -->
</main>