<section id="board-current">
    <div class="board-current-area">
        <button class="board-current-item">
            <div class="board-current-item-img-text">
                <img src="assets/img/pp-circle.svg" alt="pp-img">
                <div class="board-current-item-content">
                    <p>İlqar Rzayev, “Sual-Cavab oyunu”</p>
                    <span class="date">02.07.2020 11:30</span>
                </div>
            </div>
            <div class="board-current-item-button">
                <button class="start">Başlat</button>
            </div>
        </button>
        <button class="board-current-item">
            <div class="board-current-item-img-text">
                <img src="assets/img/pp-circle.svg" alt="pp-img">
                <div class="board-current-item-content">
                    <p>İlqar Rzayev, “Sual-Cavab oyunu”</p>
                    <span class="date">02.07.2020 11:30</span>
                </div>
            </div>
            <div class="board-current-item-button">
                <button class="start">Başlat</button>
            </div>
        </button>
        <button class="board-current-item active">
            <div class="board-current-item-img-text">
                <img src="assets/img/pp-circle.svg" alt="pp-img">
                <div class="board-current-item-content">
                    <p>İlqar Rzayev, “Sual-Cavab oyunu”</p>
                    <span class="date">02.07.2020 11:30</span>
                </div>
            </div>
            <div class="board-current-item-button">
                <button class="stop">Dayandır</button>
            </div>
        </button>
    </div>
</section>