<div class="main-connections-item">
    <div class="main-connections-item-info">
        <div class="pp-by-name">
            {{ connection.conversationName[0] }}
        </div>
        <!-- <img src="assets/img/main/main-connection-pp.svg" alt="main-connections-pp"> -->
        <div class="main-connections-item-info-text">
            <h2>{{connection.conversationName}}</h2>
            <div class="d-flex">
                <h4>{{connection.position}}</h4>
                <h6>{{connection.conversationOrgName}}</h6>
            </div>
        </div>
    </div>
    <a href="#">
        <img src="assets/img/main/info-icon.svg" alt="info-icon">
    </a>
</div>