<div class="main-sidebar-area">
    <a [routerLink]="['/main/news']" routerLinkActive="active">
        <img src="assets/img/main/main-top-sidebar-1.svg" alt="">
        <h2 style="color:rgba(31, 107, 255, 1);">Postlar</h2>
    </a>
    <a [routerLink]="['/main/chat']" routerLinkActive="active">
        <img src="assets/img/main/main-top-sidebar-2.svg" alt="">
        <h2 style="color:rgba(187, 107, 217, 1)">Mesajlar</h2>
    </a>
    <a [routerLink]="['/main/meetings']" routerLinkActive="active">
        <img src="assets/img/main/main-top-sidebar-3.svg" alt="">
        <h2 style="color:rgba(45, 156, 219, 1)">Görüşlər</h2>
    </a>
    <a [routerLink]="['/main/rooms']" routerLinkActive="active">
        <img src="assets/img/main/main-top-sidebar-4.svg" alt="">
        <h2 style="color:rgba(153, 213, 92, 1)">Otaqlar</h2>
    </a>
    <a [routerLink]="['/main/connections']" routerLinkActive="active">
        <img src="assets/img/main/main-top-sidebar-5.svg" alt="">
        <h2 style="color:rgba(235, 87, 87, 1)">Əlaqələr</h2>
    </a>
</div>