<div class="details common-border">
    <div class="details-header">
        <div class="details-user">
            <img src="assets/img/board-pp.png" alt="detail-pp">
            <span>Mahir Aliyev</span>
        </div>
        <h2 class="details-title">
            Sual-Cavab oyunu
        </h2>
        <div class="details-tab-actions common-border">
            <button class="active">İştirakçılar</button>
            <button>Suallar</button>
            <button>Nəticələr</button>
        </div>
        <div class="details-user-actions">
            <button>İştirakçı əlavə et</button>
            <button>İştirakçı sil</button>
        </div>
    </div>
    <div class="details-body common-border">
        <button class="details-body-item">
            <span>1</span>
            <div class="details-img-content">
                <img src="assets/img/board-item-img.png" alt="board-item">
                <p>Tural Mohsumzada</p>
            </div>
        </button>
        <button class="details-body-item">
            <span>1</span>
            <div class="details-img-content">
                <img src="assets/img/board-item-img.png" alt="board-item">
                <p>Tural Mohsumzada</p>
            </div>
        </button>
        <button class="details-body-item">
            <span>1</span>
            <div class="details-img-content">
                <img src="assets/img/board-item-img.png" alt="board-item">
                <p>Tural Mohsumzada</p>
            </div>
        </button>
        <button class="details-body-item">
            <span>1</span>
            <div class="details-img-content">
                <img src="assets/img/board-item-img.png" alt="board-item">
                <p>Tural Mohsumzada</p>
            </div>
        </button>
    </div>
</div>