<div class="support-filter ">
    <div class="row">
        <div class="col-lg-3 col-6">
            <select>
                <option>5a</option>
            </select>
        </div>
        <div class="col-lg-3 col-6">
            <select>
                <option>1-ci yarım il</option>
            </select>
        </div>
    </div>
</div>
<div class="module-content">
    <button class="module-item active">
        <div class="d-flex module-item-content">
            <div class="col-lg-6">
                <div class="studen-plan-lesson-info student-plan-all">
                    <div class="student-plan-lesson">
                        <h2>Riyaziyyat</h2>
                    </div>
                    <div class="student-plan-lesson-detail">
                        <p>5 həftəlik dərs yükü</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>88</h4>
                    <h6>orta KSQ</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>73</h4>
                    <h6>orta BSQ balı</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>80</h4>
                    <h6>Yekun bal</h6>
                </div>
            </div>
        </div>
    </button>
    <button class="module-item">
        <div class="d-flex module-item-content">
            <div class="col-lg-6">
                <div class="studen-plan-lesson-info student-plan-all">
                    <div class="student-plan-lesson">
                        <h2>Azərbaycan dili</h2>
                    </div>
                    <div class="student-plan-lesson-detail">
                        <p>7 həftəlik dərs yükü</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>100</h4>
                    <h6>orta KSQ</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>82</h4>
                    <h6>orta BSQ balı</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>91</h4>
                    <h6>Yekun bal</h6>
                </div>
            </div>
        </div>
    </button>
    <button class="module-item">
        <div class="d-flex module-item-content">
            <div class="col-lg-6">
                <div class="studen-plan-lesson-info student-plan-all">
                    <div class="student-plan-lesson">
                        <h2>Fizika</h2>
                    </div>
                    <div class="student-plan-lesson-detail">
                        <p>5 həftəlik dərs yükü</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>57</h4>
                    <h6>orta KSQ</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>56</h4>
                    <h6>orta BSQ balı</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>57</h4>
                    <h6>Yekun bal</h6>
                </div>
            </div>
        </div>
    </button>
    <button class="module-item">
        <div class="d-flex module-item-content">
            <div class="col-lg-6">
                <div class="studen-plan-lesson-info student-plan-all">
                    <div class="student-plan-lesson">
                        <h2>Coğrafiya</h2>
                    </div>
                    <div class="student-plan-lesson-detail">
                        <p>8 həftəlik dərs yükü</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>80</h4>
                    <h6>orta KSQ</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>61</h4>
                    <h6>orta BSQ balı</h6>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="studen-plan-lesson-point-item student-plan-all">
                    <h4>71</h4>
                    <h6>Yekun bal</h6>
                </div>
            </div>
        </div>
    </button>
</div>