<ng-container *ngIf="loader">
    <div class="mt-15">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
</ng-container>
<ng-container *ngIf="!loader">
    <ng-container *ngIf="versions==null">
        <app-no-data></app-no-data>
    </ng-container>
    <ng-container *ngIf="versions!=null">
        <perfect-scrollbar class="main-scroll">
            <div class="module-content common-border">
                <button *ngFor="let version of versions" (click)="getVersion(version)"
                    [ngClass]="{'active':activeVersionId==version.id}"
                    class="module-item about d-flex justify-content-between align-items-center">
                    <p>{{version.versions}}</p>
                    <div class="date">
                        <p>{{version.releaseDate}}</p>
                    </div>
                </button>
            </div>
        </perfect-scrollbar>
    </ng-container>
</ng-container>