.add-question-content {
  padding-inline: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 96.5%;
  top: 120px;
  z-index: 999;
  background: white;
  h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
