<!-- <div class="wrapper">
    <div class="col-lg-8">
        
    </div>
    <div class="col-lg-4">
        <app-support-detail (removeEvent)="getSurveys()" (updateEvent)="addQuestionForm()" [survey]="surveyDetail">
        </app-support-detail>
    </div>
</div> -->

<app-banner [withInput]="true" actionText1='Sorğu əlavə edin' actionText2='Yenilə' (changeDataEvent)="addQuestionForm()"
    (updateDataEvent)="getSurveys($event)" bgImage="banner-support-bg.svg" img='support-img'></app-banner>

<ng-container>
    <div class="support-filter ">
        <div class="row">
            <div class="col-lg-3 col-6">
                <select (change)="filterByType($event)">
                    <option value="">Hamısı</option>
                    <option *ngFor="let type of questionTypes" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
            <div class="col-lg-3 col-6">
                <select (change)="filterByStatus($event)">
                    <option value="">Hamısı</option>
                    <option *ngFor="let status of statuses" value="{{status.id}}">{{status.name}}</option>
                </select>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="loader">
    <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="!loader">
    <ng-container *ngIf="surveys==null">
        <app-no-data></app-no-data>
    </ng-container>
    <ng-container *ngIf="surveys!=null">
        <perfect-scrollbar class="scroll scroll-height">
            <div #content class="module-content common-border">
                <button *ngFor="let survey of surveys" (click)="getSurveyDetail(survey)"
                    class="modules-item-big module-item support" [ngClass]="{'active':activeSurveyId==survey.id}">
                    <div class="module-item-top d-flex justify-content-between align-items-center">
                        <div class="code-date-area d-flex align-items-center">
                            <div class="code" [ngStyle]='{"background-color":survey.typeColor}'>
                                <p>{{survey.ticketCode}} {{survey.typeShortName}}</p>
                            </div>
                            <div class="date">
                                <p>{{survey.createDate}}</p>
                            </div>
                        </div>
                        <div class="status" [ngStyle]='{"background-color":survey.statusColor}'>
                            <p>{{survey.statusName}}</p>
                        </div>
                    </div>
                    <p>{{survey.content}}</p>
                </button>
                <button *ngFor="let survey of surveys" (click)="getSurveyDetail(survey,true)"
                    class="modules-item-mobile module-item support" [ngClass]="{'active':activeSurveyId==survey.id}">
                    <div class="module-item-top d-flex justify-content-between align-items-center">
                        <div class="code-date-area d-flex align-items-center">
                            <div class="code" [ngStyle]='{"background-color":survey.typeColor}'>
                                <p>{{survey.ticketCode}} {{survey.typeShortName}}</p>
                            </div>
                            <div class="date">
                                <p>{{survey.createDate}}</p>
                            </div>
                        </div>
                        <div class="status" [ngStyle]='{"background-color":survey.statusColor}'>
                            <p>{{survey.statusName}}</p>
                        </div>
                    </div>
                    <p>{{survey.content}}</p>
                </button>
            </div>


        </perfect-scrollbar>
    </ng-container>
</ng-container>