<div class="student-plan">
    <div class="student-plan-content">
        <div class="student-plan-lesson-info">
            <ng-container>
                <div class="student-plan-lesson-info-header">
                    <h2>Riyaziyyat</h2>
                    <a>Ətraflı məlumat >></a>
                </div>
                <div class="student-plan-lesson-info-content">
                    <div class="lesson-info-teacher">
                        <h6>Müəllim</h6>
                        <h2>Orucov Nahid Zahid - Müəllim</h2>
                    </div>
                    <div class="lesson-info-students">
                        <h6>Tələbələr</h6>
                        <div class="lesson-info-students-link">
                            <h2>
                                1 Nəfər
                            </h2>
                        </div>
                    </div>
                    <div class="lesson-info-indicators">
                        <h6>Göstəricilər</h6>
                        <div class="lesson-info-indicators-item">
                            <h2>Davamiyyət</h2>
                            <div class="lesson-info-indicators-item-points">
                                <p>
                                    100.0
                                    <span>/10</span>
                                </p>
                            </div>
                        </div>
                        <div class="lesson-info-indicators-item">
                            <h2>KSQ</h2>
                            <div class="lesson-info-indicators-item-points">
                                <p>
                                    65
                                    <span>/10</span>
                                </p>
                            </div>
                        </div>
                        <div class="lesson-info-indicators-item">
                            <h2>BSQ</h2>
                            <div class="lesson-info-indicators-item-points">
                                <p>90,78 <span>/10</span></p>
                            </div>
                        </div>
                        <div class="lesson-info-indicators-item">
                            <h2>Yekun bal</h2>
                            <div class="lesson-info-indicators-item-points">
                                <p>80
                                    <span>/10</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noCourseinfo>
                <div class="emptyData">
                    <span></span>
                </div>
            </ng-template>
        </div>